<h1>Clientes</h1>
<h3><%= link_to 'Registrar novo Cliente', new_client_path %></h3>

<ul>
<% @clients.each do |client|%>
    <li>
    <%= link_to client.name, client_path(client) %>
    </li>
<% end %>
</ul>
<%= link_to 'Voltar', root_path %>