<h1>Filiais</h1>
<%= link_to 'Registrar nova Filial', new_subsidiary_path %>
<ul>
<% @subsidiaries.each do |subsidiary| %>
    <li>
    <%= link_to subsidiary.name, subsidiary_path(f) %>
    </li>
<% end %>
</ul>
