<h1> Fabricantes </h1>

<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>

<ul>
 <% @fabricantes.each do |manufacturer| %>
    <li>
    <%= link_to manufacturer.name, manufacturer %> 
    </li>
<% end %>
 </ul>